[data-animate] {
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity .9s cubic-bezier(.2,.6,.2,1),
    transform .9s cubic-bezier(.2,.6,.2,1);
}

[data-animate].visible {
  opacity: 1;
  transform: none;
}
