[data-animate] {
  opacity: 0;
  transform: translateY(26px);
  transition:
    opacity .9s cubic-bezier(.16,1,.3,1),
    transform .9s cubic-bezier(.16,1,.3,1);
}

[data-animate].visible {
  opacity: 1;
  transform: translateY(0);
}
